<% include includes/navbar.ejs %>
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card">

                <!-- Form code begins -->
                <form method="post">
                    <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Titulo</label>
                        <input class="form-control" id="" name="title" type="text" value=<%= title %> >
                        <label class="control-label" for="date">Día</label>
                        <input type="text" class="form-control" name="day" id="d" type="text" value=<%= day %> >
                        <label class="control-label" for="date">Mes</label>
                        <input type="text" class="form-control" name="month" id="m" type="text" value=<%= month %> >
                        <label class="control-label" for="date">Año</label>
                        <input type="text" class="form-control" name="year" id="y" type="text" value=<%= year %> >
                        <label class="control-label" for="date">Descripción</label>
                        <textarea class="form-control" id="exampleTextarea" name="description" rows="3"><%= description %></textarea>
                    </div>
                    <div class="form-group"> <!-- Submit button -->
                        <button class="btn btn-primary " name="submit" type="submit">Guardar</button>
                    </div>
                </form>
                <!-- Form code ends -->

            </div>
        </div>
    </div>

<% include includes/footer.ejs %>